body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #072C70;}

.container {
    background-color: white;
    height: auto;
    max-width: 500px;
    border-radius: 5px;
    padding: 20px;}
    
#image-container{
    width: 240px;
    height: 60px;}
    
.image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;}

h1{
    color: white;}

a{
    text-decoration: none;}

.form-group {
    margin-bottom: 20px;}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    margin-bottom: 10px;}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #072C70;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;}

input[type="submit"]:hover {
    background-color: #051d49;}

table {
    width: 600px;
    border-collapse: collapse;
    margin-top: 20px;}

/* Estilo para las celdas de la tabla */
th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;}

/* Estilo para las celdas de encabezado */
th {
    background-color: #072C70;
    color: white;}

/* Estilo para las filas pares */
tr:nth-child(even) {
    background-color: #f2f2f2;}

/* Estilo para las filas impares */
tr:nth-child(odd) {
    background-color: #ffffff;}

#bin:hover{
    cursor: pointer;}

button {
    padding: 10px 20px;
    background-color: white;
    border: none;
    border-radius: 3px;
    color: #072C70;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;}

button:hover {
    background-color: #dadada;}