body {
    margin: 25px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #072C70;}

h1{
    color: white;}

a{
    text-decoration: none;}

table {
    width: 1300px;
    border-collapse: collapse;
    margin-top: 20px;}

/* Estilo para las celdas de la tabla */
th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;}

/* Estilo para las celdas de encabezado */
th {
    background-color: #072C70;
    color: white;}

/* Estilo para las filas pares */
tr:nth-child(even) {
    background-color: #f2f2f2;}

/* Estilo para las filas impares */
tr:nth-child(odd) {
    background-color: #ffffff;}

#bin:hover{
    cursor: pointer;}

button {
    padding: 10px 20px;
    background-color: white;
    border: none;
    border-radius: 3px;
    color: #072C70;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;}

button:hover {
    background-color: #dadada;}