<!doctype html>
<html lang="en">
    <head>
        <title>About Us</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        <!-- Bootstrap CSS v5.2.1 -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"/>

        <!-- Links -->
        <link rel="website icon" type="png" href="..\photos\tiny-trademark.png">
        <link rel="stylesheet" href="/css/about-us.css" type="text/css">
    </head>

    <body>
        <header>
            <!-- place navbar here -->
        </header>

        <div class="container-web">
            <div class="left-column">
                <h5 id="trademark"><a id="main" href="/">SAVAGE PROJECT<svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 24 24" style="fill: #072C70; margin-bottom: 10px;"><path d="M12.14 2a10 10 0 1 0 10 10 10 10 0 0 0-10-10zm0 18a8 8 0 1 1 8-8 8 8 0 0 1-8 8z"></path><path d="M16.14 10a3 3 0 0 0-3-3h-5v10h2v-4h1.46l2.67 4h2.4l-2.75-4.12A3 3 0 0 0 16.14 10zm-3 1h-3V9h3a1 1 0 0 1 0 2z"></path></svg></a><br>IT'S A PREMIUM URBAN CLOTHING BRAND<br>FOUNDED BY A COUPLE WHO WANTED TO CREATE SOMETHING DIFFERENT.</h5>
            </div> 
            <div class="right-column">
                <p id="trademark-info">We are more than just a clothing brand. We are an expression of style and individuality, enthusiasts of urban culture. From our humble beginnings, we have strived to create clothing that reflects the essence of urban life. Every project we create is infused with the energy, diversity, and creativity of the streets that inspire us. At Savage Project, we endeavor to challenge conventions and redefine the standards of streetwear. Our collection is designed for those unafraid to stand out, for those who value their uniqueness, and for those who carry the spirit of the city wherever they go. But beyond fashion, we are also committed to the community around us.</p>
            </div>            
        </div>


        <!-- Bootstrap JavaScript Libraries -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    </body>
</html>