<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Savage Web</title>
            <link rel="website icon" type="png" href="..\photos\tiny-trademark.png">
            <link rel="stylesheet" href="/css/admin/settings.css" type="text/css">
            <script src="/js/admin/admin.js"></script>
            <script src="/js/admin/customer.js"></script>
            <script src="/js/admin/order.js"></script>
        </head>
        <body>
            <div class="container-settings">
                <h1>Welcome to Savage Web</h1>
                <p id="admin-email">You're logged in as: <br><%= email %></p>
                <div class="button-container">
                    <button id="admin">Administrators</button>
                    <button id="customer">Customers</button>
                    <button id="order">Orders</button><br>
                    <a href="/">Visit Savage Project</a>
                </div>
            </div>
        </body>
    </html>